/* @import 'normalize.css'; */

:root {
    --cor-primaria: #FAE198;
}

body {
    background: var(--cor-primaria);
    overflow-x: hidden;
}

header {
    width: 100%;
}

.container-header {
    width: 100%;
    margin-left: 10%;
    padding-top: 2%;

}

main {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}

.container-img-background {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-background {
    height: 90rem;
}

.container-main-text {
    position: absolute;
    top: 27%;
    padding-left: 10%;
    color: #6B2F07;
    font-style: normal;
    background: transparent;
}

.text-main {
    font-size: 60px;
    font-weight: 700;
    line-height: 70px;
    padding-top: 80px;
    font-family: sans-serif;
}

h3 {
    margin: 0;
}

.text-secondary {
    width: 35%;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    font-family: Roboto;
    background: transparent;
}

main .button-download {
    width: 264px;
    padding: 10px;
    border-radius: 21px;
    border: none;
    color: #FFF;
    background: #754BF7;
    font-size: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    cursor: pointer;
}

main .container-article {
    width: 80%;
    margin: 0 auto;
    color: #6B2F07;
    text-align: center;
    font-family: Roboto;
    font-size: 23px;
    font-style: italic;
    font-weight: 400;
    line-height: 32px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left-article-img {
    max-height: 18rem;
    position: relative;
    top: 0;
    left: 45%;
}

.right-article-img {
    max-height: 18rem;
    position: relative;
    top: 90%;
    left: 10%;
}

.container-img-person {
    position: relative;
    top: 12%;
}

.card-text {
    width: 100%;
    /* height: 40%; */
    background: #FFF;
    border-radius: 48px;
    padding: 30px;
}

.author {
    color: #6B2F07;
    text-align: center;
    font-family: Roboto;
    font-size: 22px;
    font-style: italic;
    font-weight: 700;
    line-height: 32px;
    /* 145.455% */
}

footer {
    width: 100%;
    
}

footer .container-footer {
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 15%;
    padding-bottom: 2%;
    margin-left: 10%;
}

.container-footer a {
    text-decoration: none;
    color: #EB3758;
}

.contato {
    cursor: pointer;
    padding-left: 5%;
}


@media screen and (max-width : 1630px) {
    .img-background {
        height: 75rem;
    }

    footer {
        padding-top: 23%;
    }
}


@media screen and (max-width: 1258px) {

    .text-main {
        font-size: 50px;
        font-weight: 700;
        line-height: 50px;
        /* padding-top: 80px; */
    }

    .text-secondary {
        width: 30%;
        font-size: 16px;
    }

    .container-main-text {
        top: 20%;
    }

    .img-background {
        height: 55rem;
    }

    main .button-download  {
        width: 200px;
        padding: 10px;
        font-size: 18px;
    }

    .container-img-person {
        top: 8%;
    }
}

@media screen and (max-width: 985px) {
    
    .container-main-text {
        top: 7%;
    }

    .text-secondary {
        width: 35%;
        font-size: 16px;
    }

    .img-background {
        padding-top: 40%;
    }

    main .button-download  {
        width: 220px;
    }

    .left-article-img {
        max-height: 12rem;
        top: 10%;
        left: 45%;
    }
    
    .right-article-img {
        max-height: 12rem;
        top: 95%;
    }

    .container-img-person {
        left: 10%;
    }
}

@media screen and (max-width: 683px) {
    .container-main-text {
        top: 2%;
    }

    .img-background {
        padding-top: 55%;
    }

    .text-secondary {
        width: 40%;
    }

    .container-img-person {
        top: 3%;
        left: 17%;
    }
}
@media screen and (max-width: 507px) {
    .img-background {
        height: 45rem;
    }

    .img-background {
        padding-top: 75%;
    }

    .text-secondary {
        width: 60%;
    }
}