@import 'normalize.css';

:root {
    --cor-primaria: #FAE198;

    --padding-left: 13%;
    --padding-top: 2%
}

body {
    background: var(--cor-primaria);

}

.container-header {
    width: 100%;
    padding-left: var(--padding-left);
    padding-top: var(--padding-top);
}

main {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: var(--padding-left);
}

main .container-main-text {
    width: 20%;
    color: #6B2F07;
    font-family: Open Sans;
    font-style: normal;
    position: absolute;
    top: 150px;
}

main .text-main {
    font-size: 60px;
    font-weight: 700;
    line-height: 70px;
    padding-top: 80px;

}

main .text-secondary {
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
}

main .button-download {
    width: 264px;
    padding: 10px;
    border-radius: 21px;
    border: none;
    color: #FFF;
    background: #754BF7;
    font-size: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    cursor: pointer;
}

main img {
    max-height: 85rem;
}

main .container-article {
    width: 80%;
    margin: 15% auto;
    color: #6B2F07;
    text-align: center;
    font-family: Roboto;
    font-size: 23px;
    font-style: italic;
    font-weight: 400;
    line-height: 32px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    /* background: #0d07c5; */
    /* 145.455% */
}

.left-article-img {
    max-height: 13rem;
    position: relative;
    top: 13%;
    left: 45%;
}

.right-article-img {
    max-height: 13rem;
    position: relative;
    top: 90%;
    left: 10%;
}

.img-person img {
   position: relative;
   top: 10%;
}

.card-text {
    width: 100%;
    /* height: 40%; */
    background: #FFF;
    border-radius: 48px;
    padding: 30px;
}

.container-article .card {
    
}

/* .img-person img{
    position: relative;
} */

/* .card img {
    background: #0d07c5;
} */

.author {
    color: #6B2F07;
    text-align: center;
    font-family: Roboto;
    font-size: 22px;
    font-style: italic;
    font-weight: 700;
    line-height: 32px;
    /* 145.455% */
}

.container-article .left-article-img {
    /* height: 50rem; */
    /* fill: #EB3758;
    color: #754BF7; */

}